.avatar {
    border-radius: 50%;
    width: 150px;
    float:right;
}

.astronaut { 
    border: 1px dashed rgb(255, 102, 0);
    display: flex;
    justify-content: space-between;
    width: 450px;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
